body {
    font-family: 'Georgia', serif;
    font-size: 17px;
}

.content {
    width: 530px;
    margin: 40px auto;
}
h1, h2, h3, h4, h5 {
    font-family: 'Garamond', 'Georgia', serif;
    font-weight: normal;
    color: #444;
}
blockquote {
    font-style: italic;
    color: #444;
}
ul {
    margin: 15px 0 15 px 0;
    list-style: none;
    line-height: 1.4;
}

ul li:before {
    content: '\2014\a0';
    color: #888;
    position: absolute;
    margin-left: -16px;
}

nav ul, footer ul {
    font-family: 'Garamond', 'Georgia', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

